// Import core styles
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

:root {
	--tp-plugin-image-dragging-color: hsla(230, 100%, 66%, 1);
}

.#{tp.$prefix}-imgv {
	@extend %tp-input;

	cursor: pointer;
	display: flex;
	align-items: flex-start;
	height: calc(tp.cssVar('container-unit-size') * 3) !important;
	line-height: 1;
	overflow: hidden;
	border-radius: 4px;
	position: relative;

	&.#{tp.$disabled} {
		opacity: 0.5;
	}

	&_input {
		width: 0;
		height: 0;
		pointer-events: none;
		visibility: hidden;
	}

	&_image {
		display: block;
		width: 100%;
		height: calc(tp.cssVar('container-unit-size') * 3);
		border: 0;
		margin: 0;
		padding: 0;
		vertical-align: top;
		flex-shrink: 0;
	}

	&_image_contain {
		object-fit: contain;
	}

	&_image_cover {
		object-fit: cover;
	}

	&_placeholder {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: calc(tp.cssVar('container-unit-size') * 3);
		color: tp.cssVar('input-fg');
		opacity: 0.5;
		font-family: tp.cssVar('base-font');
		font-size: inherit;
		border: 0;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		flex-shrink: 0;
	}

	&_area_root {
		transition: opacity 0.16s ease-in-out;
	}

	&_area_dragging {
		border: 2px dashed var(--tp-plugin-image-dragging-color);
		border-radius: 4px;
		opacity: 0.6;
	}
}
