// Import core styles
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

:root {
	--tp-plugin-image-dragging-color: hsla(230, 100%, 66%, 1);
}

.#{tp.$prefix}-imgv {
	@extend %tp-input;

	cursor: pointer;
	display: inline-flex;
	height: auto !important;
	max-height: calc(tp.cssVar('container-unit-size') * 3);
	//overflow: hidden;
	border-radius: 4px;
	position: relative;

	&.#{tp.$disabled} {
		opacity: 0.5;
	}

	&_input {
		width: 0;
		height: 0;
		pointer-events: none;
		visibility: hidden;
	}

	&_image {
		width: 100%;
		height: max-content;
		max-height: calc(tp.cssVar('container-unit-size') * 3);
		//max-height: 100%;
		border: 0;
	}

	&_image_contain {
		object-fit: contain;
	}

	&_image_cover {
		object-fit: cover;
	}

	&_placeholder {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: calc(tp.cssVar('container-unit-size') * 3);
		color: tp.cssVar('input-fg');
		opacity: 0.5;
		font-family: tp.cssVar('base-font');
		font-size: inherit;
	}

	&_area_root {
		transition: opacity 0.16s ease-in-out;
	}

	&_area_dragging {
		border: 2px dashed var(--tp-plugin-image-dragging-color);
		border-radius: 4px;
		opacity: 0.6;
	}
}
